.auth-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.auth-container h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form input,
.auth-form input:-webkit-autofill,
.auth-form input:-webkit-autofill:hover,
.auth-form input:-webkit-autofill:focus,
.auth-form input:-webkit-autofill:active {
    padding: 0.8rem;
    border: 1px solid #ccc;
    background-color: rgb(49, 89, 150) !important;
    border-radius: 5px;
    box-shadow: 0 0 0px 1000px rgb(49, 89, 150) inset !important;
    -webkit-text-fill-color: white !important;
}

.auth-form button {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.auth-form button:hover {
    background-color: #023e8a;
}