.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background: linear-gradient(rgb(28, 122, 143), rgb(49, 89, 150), rgb(16, 50, 104));
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2 {
    color: #023e8a;
    margin-bottom: 1rem;
    text-align: center;
}

.modal-content p {
    margin: 0.4rem 0;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.modal-buttons button {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-buttons button:first-child {
    background-color: #e63946;
    color: white;
}

.modal-buttons button:first-child:hover {
    background-color: #d00000;
}

.modal-buttons button:last-child {
    background-color: #0077b6;
    color: white;
}

.modal-buttons button:last-child:hover {
    background-color: #023e8a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}