.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 0.8rem;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #caf0f8;
}

.navbar button {

    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar button:hover {
    background-color: #001d3d;
}